body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Cor de fundo sutil */
    color: #333;
  }
  
  header {
    text-align: center;
    padding: 20px;
    background-color: #1A2D61;
    color: white;
  }
  
  header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  header p {
    font-size: 1.2rem;
  }
  
  main {
    padding: 20px;
  }
  
  #faq {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .faq-item {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .faq-item h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #2d89ef;
  }
  
  .faq-item p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
  }
  
  .faq-item:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
  }
  