@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SUSE', sans-serif;
}

h1 {
    color: #1A2D61;
    font-weight: bold;
    font-size: 2em;
}

h2 {
    font-size: 1em;
    max-width: 150px;
}

p {
    font-size: .8em;
}

header {
    width: 100%;
    background: #f8f9fa;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

header img {
    max-height: 75px;
    margin-left: 20px;
    filter: drop-shadow(-5px 5px 5px black);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.logo a:hover {
    filter: drop-shadow(2px 2px 4px black);
}

nav {
    margin-right: 15px;
}

select {
    display: none;
}

nav a {
    font-size: 12px;
    font-weight: 600;
    background-color: #1A2D61;
    margin: 0 5px;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 15px;
}

nav a:hover {
    background-color: #fff;
    color: rgb(1, 25, 83);
}

.produtos {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    flex-wrap: wrap;
}

.produto {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 4em 0 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
    align-items: center;
}

.produto:hover {
    transform: scale(1.05);
}

.produto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.produto h2 {
    font-size: 1.2rem;
    height: 100px;
}

.preco-antigo {
    text-decoration: line-through;
    color: #888;
    font-size: 1rem;
}

.preco-novo {
    font-size: 1.5rem;
    color: #e63946;
    font-weight: bold;
}

.oferta {
    color: #007bff;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

button {
    background-color: #1a73e8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #0056b3;
}

section {
    margin-top: 120px;
}

footer {
    height: 250px;
    background-color: #1A2D61;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

footer a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 15px;
    margin: 0 10px;
}

footer img {
    width: 135px;
    filter: drop-shadow(-10px 14px 10px black);
}

/* Responsividade */
@media (max-width: 1040px) {
    header {
        height: 150px;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }

    h1 {
        padding-bottom: 20px;
    }

    

    .container{
        height: 40rem;
        justify-content: flex-start;
    }
    

@media (max-width: 905px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    nav {
        margin: 10px 0;
        display: flex;
        font-size: 12px;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

 

}

@media (max-width: 655px) {
    nav a {
        display: none;
    }

    nav select {
        background-color: #1A2D61;
        color: #fff;
        border-radius: 10px;
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }

    header {
        height: 150px;
        align-items: center;
        justify-content: center;
        z-index: 1;
        position: fixed;
        width: 100%;
        background-color: #f8f9fa;
        box-shadow: 0 4px 2px -2px gray;
    }

    footer {
        height: 80vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    footer img {
        width: 125px;
    }

    footer a {
        margin: 0;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
    }
    
}

@media (max-width: 550px) {
    nav a {
        display: none;
    }

    nav select {
        background-color: #1A2D61;
        color: #fff;
        border-radius: 10px;
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }

    header {
        height: 150px;
        align-items: center;
        justify-content: center;
        z-index: 1;
        position: fixed;
        width: 100%;
        background-color: #f8f9fa;
        box-shadow: 0 4px 2px -2px gray;
        flex-direction: column;
    }

    footer {
        height: 80vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    footer img {
        width: 125px;
    }

    footer a {
        margin: 0;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
    }
    
}

@media (max-width: 450px) {
    nav a {
        display: none;
    }

    nav select {
        background-color: #1A2D61;
        color: #fff;
        border-radius: 10px;
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }

    header {
        height: 150px;
        align-items: center;
        justify-content: center;
        z-index: 1;
        position: fixed;
        width: 100%;
        background-color: #f8f9fa;
        box-shadow: 0 4px 2px -2px gray;
        flex-direction: column;
    }
    footer {
        height: 80vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    footer img {
        width: 125px;
    }

    footer a {
        margin: 0;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
    }
    
}
}