@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100;200;300;400;500;600;700;800&display=swap');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SUSE', sans-serif;
}

h1 {
    color: #1A2D61;
    font-weight: bold;
    font-size: 2em;
}

h2 {
    font-size: 1em;
    max-width: 150px;
}

p {
    font-size: .8em;
}

a {
    text-decoration: none;
    font-weight: bold;
  }
  
  .header {
    background: #ddd;
    padding: 16px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    box-shadow: 0 4px 2px -2px gray;
  }
  
  .nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2em;
    color: #1A2D61;
  }

  .nav a:hover {
    filter: drop-shadow(-10px 5px 5px black);
  }
  .logo {
    width: 30vw;
  }
  .logo img{
    width: 4.5rem;
  }

  
  .nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
  }
  
  .nav-list a {
    font-size: 18px;
    color: #fff;
    padding-block: 16px;
    color: #1A2D61;
  }
  
  .banner {
    height: calc(100vh + 50px);
    background: center / cover no-repeat url("img/banner.png");
    background-attachment: fixed;
  }
  
  .hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #9e9e00;
    cursor: pointer;
  }
  
  .hamburger::after,
  .hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #9e9e00;
    margin-top: 5px;
    position: relative;
    transition: 1.5s;
  }

.container {
    height: 80vh;
    max-width: 700px;
    margin: 20vh auto;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 200px;
}

h1::before {
    content: " ";
    background-image: url(img/cropped-kr-limpeza-logo-alta-1-1-150x150.png);
    width: 75px;
    height: 75px;
    background-size: cover;
    position: absolute;
    left: 10px;
    top: -25px;
}

h1 {
    position: relative;
    text-align: center;
    color: #1A2D61;
    font-weight: bold;
    font-size: 2em;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    display: block;
    width: 100%;
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.button:hover {
    background-color: #218838;
}

footer {
    height: 250px;
    background-color: #1A2D61;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    position: absolute;
    bottom: -10;
}

footer a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 15px;
    margin: 0 10px;
    
}

footer img {
    width: 135px;
    filter: drop-shadow(-10px 14px 10px black);
}

/* Responsividade */
@media (max-width: 1040px) {
    header {
        height: 100px;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
    h1 {
        padding-bottom: 20px;
    }

    .container {
        height: 40rem;
        justify-content: flex-start;
    }
}


@media (max-width: 905px) {

    .footer-links {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 850px) {
    .hamburger {
        display: block;
        z-index: 1;
    }
    
    .nav-list {
        position: fixed;
        top: 0px;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #1A2D61;
        clip-path: circle(90px at 120% -15%);
        transition: 1s ease-out;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .nav-list a {
        color: #ddd;
        font-size: 24px;
        opacity: 0;
    }

    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }

    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }

    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }

    /* Estilos ativos */
    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav.active .nav-list a {
        opacity: 1;
    }

    .nav.active .hamburger {
        position: fixed;
        top: 46px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

@media (max-width: 655px) {
    nav a {
        display: none;
    }

    .nav-list {
        display: flex;
        position: fixed;
        width: 100%;
    }

    footer {
        height: 80vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    footer img {
        width: 125px;
    }

    footer a {
        margin: 0;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
    }
}    


@media (max-width: 450px) {
    nav a {
        display: none;
    }

    .nav-list {
        display: flex;
        position: fixed;
        width: 100%;
    }


    footer {
        height: 80vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px;
        position: static;
    }

    footer img {
        width: 125px;
    }

    footer a {
        margin: 0;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
    }
}
